<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <h1><%= link_to('Back','/tasks/all') %></h1>
  <%= form_with model: @task do |form| %>
    <table boader='1', align='center'>
    <td>
        <tr>
            <%= form.label :Title %>
            <%= form.text_field :title %><br><br>
        </tr>
        <tr>
            <%= form.label :Description %>
            <%= form.text_field :description %><br><br>
        </tr>
        <tr>
            <%= form.label :Status %>
            <% if params[:action]=="new" %>
                <%= form.select :status,["In_completed"] %><br><br>
            <% else %>
                <%= form.select :status,["In_completed","Completed"] %><br><br>
            <% end %>
        </tr>
        <tr>
            <%= form.label :Category %>
            <%= form.select :category,Task::CATEGORY %><br><br>
        </tr>
        <tr>
            <%= form.label :User_Id %>
            <%= form.select :user_id,[current_user.id]%><br><br>
        </tr>
        <tr>
            <%= form.submit "create" %><br><br>
        </tr>
    </td>
    </table>
    <% end %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
