<% if user_signed_in? %> 
<%= link_to('Back','/tasks') %>
    <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <table border ='1' , align='center'>
        <%= form_with model: @task do |i| %>
        <tr>
            <td>
                <%= i.label :Title %>
                <%= i.text_field :title %><br>
            </td>
        </tr>
        <tr>
            <td>
                <%= i.label :Description %>
                <%= i.text_area :description, size: "16x1"%>
            </td>
        </tr>
        <tr>
            <td>
                <% Task::CATEGORY.each do |key| %>
                    <%= i.radio_button :category,key %>
                    <%= i.label key %>
                <% end%>
            </td>
        </tr>
        <tr>
        <td>
            <%= i.submit 'create' %>
        </td>
    </tr>
    <% end %>
   </table>
<% else %>
    <%= button_to "Sign in", new_user_session_path %> 
<% end %>