<% if user_signed_in? %> 
    <%#= javascript_include_tag "man.js" %>
    <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <h1><%= link_to "New",new_task_path %></h1>
    <h2><%= link_to("All","/tasks/all") %></h2>
    <%= form_with url: tasks_show_path , model: @task do |form| %>
    <table boader='1', align='center'>
            <% Task::CATEGORY.each do |key| %>
                <th>
                    <%= form.check_box :category,{multiple: true},key %>
                    <%= form.label key %>
                </th>
            <% end %>
            <th>
                <%= form.submit "Done" %>
            </th>
    </table>
    <% end %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>