<% if user_signed_in? %>
    <%= link_to('Back','/tasks') %> 
    <div> <h1>Welcome <%= current_user.email %></h1> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <h2><%= link_to("Edit",edit_task_path) %></h2>
     <h2><%= link_to("destroy","/tasks/:id") %></h2>
    <% if @task.category == "Market" %>
        <%#= render "filter" %>
        <p>Title:- <%= @task.title %></p>
        <p>Description:- <%= @task.description %></p>
        <% if @task[:status]=="In_complete" %>
            <p>Status:- <%= @task.status %></p>
            <% if params[:action]=="show" %>
                <%= form_with model: @task do |form| %>
                <%= form.check_box :status,{} %>
                <%= form.label :Completed %>
                <% end %>
            <% end %>
        <% end %>
    <p>Category:- <%= @task.category %></p>
    <% elsif @task.category == "Home" %>
        <%#= render "filter" %>
                <p>Title:- <%= @task.title %></p>
        <p>Description:- <%= @task.description %></p>
        <% if @task[:status]=="In_complete" %>
            <p>Status:- <%= @task.status %></p>
            <% if params[:action]=="show" %>
                <%= form_with model: @task do |form| %>
                <%= form.check_box :status,{} %>
                <%= form.label :Completed %>
                <% end %>
            <% end %>
        <% end %>
    <p>Category:- <%= @task.category %></p>
    <% elsif @task.category == "Office" %>
        <%#= render "filter" %>
        <p>Title:- <%= @task.title %></p>
        <p>Description:- <%= @task.description %></p>
        <% if @task[:status]=="In_complete" %>
            <p>Status:- <%= @task.status %></p>
            <% if params[:action]=="show" %>
                <%= form_with model: @task do |form| %>
                <%= form.check_box :status,{} %>
                <%= form.label :Completed %>
                <% end %>
            <% end %>
        <% end %>
    <p>Category:- <%= @task.category %></p>
    <% end %>
<% else %>
    <%= button_to "Sign in", new_user_session_path %> 
<% end %>
